<div class="wrapper">
  //Co the chen header vao
  <div id="content">
    <div class="container-fruid register">
      <div class="row">

      </div>
      <div class="col-md-9 register-right">

        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

            <div *ngIf="isShow"
                 class="alert {{ (isSuccess) ? 'alert-success' : 'alert-danger' }}"
                 role="alert">
              {{message}}
            </div>
            <h3 class="register-heading">Add New House</h3>

            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="row register-form">
                <div class="col-md-6">
                  <div class="form-group">
                    <input formControlName="nameHouse" placeholder="Name House" type="text" class="form-control"
                           id="nameHouse" aria-describedby="emailHelp">
                  </div>

                  <div class="form-group">
                    <input placeholder="How many bedroom " formControlName="bedroomNum" type="number"
                           class="form-control" id="bedroomNum">
                  </div>
                  <div class="form-group">
                    <div formGroupName="categoryHome" class="form-group col-6 float-left"
                         style="padding: 0px!important;">
                      <label>Category</label>
                      <select formControlName="id">
                        <option *ngFor="let category of categoryHomes"
                                value="{{category.id}}">{{category.nameCategoryHome}}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input placeholder="How many Bath Room" formControlName="bathroomNum" type="number"
                           class="form-control" id="bathroomNum">
                  </div>
                  <div class="form-group">
                    <input placeholder="Description" formControlName="description" type="text" class="form-control"
                           id="description">
                  </div>
                  <div class="form-group">
                    <input placeholder="Price for One Night ($)" formControlName="priceOneDay" type="number"
                           class="form-control" id="priceOneDay">
                  </div>

                  <div class="form-group">
                    <input type="hidden" formControlName="houseAddress">
                  </div>
                </div>

                <div class="col-md-12">
                  <div>Feature</div>

                  <div formArrayName="features" *ngFor="let data of features; let i=index" class="form-group col-6 float-left">
                    <label>
                      <input type="checkbox" [value]="data.id" (change)="onCheckboxChange($event)"/>
                      {{data.name}}
                    </label>
                  </div>

                  <p class="error" *ngIf="this.formGroup.controls['features'].errors?.required">
                    Checkbox is required, select atleast one value.
                  </p>

                </div>
                <div class="form-group">
                  <label>Upload picture of your apartment</label>
                  <div
                    class="custom-dropzone"
                    ngx-dropzone
                    [accept]="'image/*'"
                    (change)="onSelect($event)"
                  >
                    <ngx-dropzone-label>
                      <div>
                        <h2>Drop your image here</h2>
                      </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-image-preview
                      ngProjectAs="ngx-dropzone-preview"
                      *ngFor="let f of myFiles"
                      [file]="f"
                      [removable]="true"
                      (removed)="onRemove(f)"
                    >
                    </ngx-dropzone-image-preview>
                  </div>
                </div>
              </div>
                <div class="row justify-content-around">
                  <div>
                    <button type="submit" class="btn btn-success">Submit</button>|
                    <button type="reset" class="btn btn-danger">Reset</button>
                  </div>
                </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
