
<div class="col-md-8">
  <form [formGroup]="createCategory" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>Create Category for house</legend>
      <p>Category</p>
      <div class="item">
        <label for="fname"> Name<span>*</span></label>
        <input formControlName="nameCategoryHome" forid="fname" type="text" name="fname"  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
        />
        <div *ngIf="submitted && f.nameCategoryHome.errors" class="invalid-feedback">
          <div *ngIf="f.nameCategoryHome.errors.required">Category Name is required</div>
        </div>
      </div>
    </fieldset>
    <div class="btn-block">
      <button type="submit" href="/">Submit</button>
    </div>
  </form>
</div>



